@{
}

@model exam180723.Models.ContactViewModel

@using (Html.BeginForm("Create", "Contact", FormMethod.Post))
{
    <div class="mb-3">
        @Html.LabelFor(m=>m.Name)
        @Html.TextBoxFor(m=>m.Name,new{@class="form-control",placehoder="Enter Contact Name"})
        @Html.ValidationMessageFor(m=>m.Name)
    </div>
    <div class="mb-3">
        @Html.LabelFor(m=>m.Number)
        @Html.TextBoxFor(m=>m.Number,new{@class="form-control",placehoder="Enter ContactNumber"})
        @Html.ValidationMessageFor(m=>m.Number)
    </div>
    <div class="mb-3">
        @Html.LabelFor(m=>m.GroupName)
        @Html.TextBoxFor(m=>m.GroupName,new{@class="form-control",placehoder="Enter GroupName"})
        @Html.ValidationMessageFor(m=>m.GroupName)
    </div>
    <div class="mb-3">
        @Html.LabelFor(m=>m.Name)
        <input type="date" name="HireDate" class="form-control" placeholder="Choose Hire Date" />
        @Html.ValidationMessageFor(m=>m.Name)
    </div>
    <div class="mb-3">
        @Html.LabelFor(m=>m.Name)
        <input type="date" name="Birthday" class="form-control" placeholder="Choose Birthday" />
        @Html.ValidationMessageFor(m=>m.Name)
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
}